# Default ignored files
/shelf/
/workspace.xml
/../../../../../:\Studia\2.2. Inzynieria Oprogramowania\Firebase-Testing-Env-MandP\.idea/misc.xml
/../../../../../:\Studia\2.2. Inzynieria Oprogramowania\Firebase-Testing-Env-MandP\.idea/Firebase-Testing-Env-MandP
# Datasource local storage ignored files
/../../../../../:\Studia\2.2. Inzynieria Oprogramowania\Firebase-Testing-Env-MandP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
